.container {
  width: 100%;
}

/* Breakpoints */

/* Small devices (640px and up) */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* Medium devices (768px and up) */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Large devices (1024px and up) */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/* Extra large devices (1280px and up) */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* Extra extra large devices (1536px and up) */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
